<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Посты</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .post {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
        }
        .post img {
            max-width: 100%;
            height: auto;
        }
        .tags {
            color: #555;
        }
        .pagination {
            margin: 20px 0;
        }
    </style>
</head>
<body>
<h1>Посты</h1>

<label for="tagFilter">Фильтрация по тегу:</label>
<form method="POST">
    <input type="text" id="tagFilter" name="tagFilter" placeholder="Введите тег поиска" th:value="${filterTags}">
    <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
    <input type="hidden" id="sizePage" name="sizePage" th:value="${sizePage}">
    <button type="submit">Поиск</button>
</form>
<div class="post" th:each="blog: ${blogs}" >
    <h2 th:text="${blog.title}"/>
    <img th:src="'data:image/png;base64, '+${blog.picture}" width="300" height="200"/>
    <p th:text="${blog.shotText}"/>
    <p th:text="'Комментарии: '+${blog.commentsCount}+' | Лайки: '+${blog.likeCount}"/>
    <p class="tags" th:text="'Теги: '+${blog.tags}"></p>
</div>

<div class="pagination">
    <span th:text="'Текущая страница '+${currentPage}+' из '+${totalPage}"/>&nbsp;
    <span>Показать по :</span>
    <a th:href="'?p='+${currentPage}+'&s=10&f='+${filterTags}">10</a>&nbsp;
    <a th:href="'?p='+${currentPage}+'&s=20&f='+${filterTags}">20</a>&nbsp;
    <a th:href="'?p='+${currentPage}+'&s=50&f='+${filterTags}">50</a>&nbsp;
    <a th:if="${currentPage > 1}" th:href="'?p='+(${currentPage}-1)+'&s='+${sizePage}+'&f='+${filterTags}">Предыдущая</a>&nbsp;
    <a th:if="${currentPage < totalPage}" th:href="'?p='+(${currentPage}+1)+'&s='+${sizePage}+'&f='+${filterTags}">Следующая</a>
</div>

<script>
    /*
    let currentPage = 1;
    let postsPerPage = 10;

    function filterPosts() {
        const filterValue = document.getElementById('tagFilter').value.toLowerCase();
        const posts = document.querySelectorAll('.post');

        posts.forEach(post => {
            const tags = post.getAttribute('data-tags').toLowerCase();
            post.style.display = tags.includes(filterValue) ? 'block' : 'none';
        });

        resetPagination();
    }

    function changePostsPerPage() {
        postsPerPage = parseInt(document.getElementById('postsPerPage').value);
        resetPagination();
    }

    function resetPagination() {
        currentPage = 1;
        renderPosts();
    }

    function renderPosts() {
        const posts = Array.from(document.querySelectorAll('.post'));
        const totalPosts = posts.filter(post => post.style.display !== 'none').length;

        posts.forEach((post, index) => {
            post.style.display = (Math.floor(index / postsPerPage) === currentPage - 1) ? 'block' : 'none';
        });

        // Обновить доступность кнопок пагинации
        document.querySelector('.pagination').style.display = totalPosts > postsPerPage ? 'block' : 'none';
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            renderPosts();
        }
    }


    // Инициализация отображения постов
    renderPosts();
     */
</script>

</body>
</html>